body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.header h1 {
    margin: 0;
}


.profile-icon {
    position: absolute;
    top: 40%;
    right: 25px;
    transform: translateY(-50%);
}

.profile-icon button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    padding-top: 17px;
}

.profile-icon button:hover {
    color: #e0e0e0;
}

.profile-icon .material-symbols-outlined { 
    font-size: 35px; 
}

.no-history {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #666;
    margin-top: 150px; 
}

table {
    width: 96%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #333;
}
