body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: #abd6db; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #00796b;
    font-size: 2rem;
    margin-top: 0;
}

p, ul {
    font-size: 1.2rem;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.main-title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s;
}

.stat:hover {
    transform: translateY(-5px);
}

.stat img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    margin-right: 20px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
}

.stat p {
    font-size: 1.4rem; 
    margin: 0;
    text-align: left;
    flex-grow: 1;
}

footer {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}
